body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif; 
}
main{
  background-color: #253042;
}

.search-field {
  border: none;
  border-radius: 3px;
  padding: 7px;
  outline: none;
  width: 55%;
  margin: auto;

}
.search-field:hover {
  outline: none;
  border: none;
  
}
.search-box {
  /* border: 1px solid rgba(255, 255, 255, 0.911); */
  width: 100%;
  border-radius: 0px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
}
.search-button {
  background-color: #ba9066;
  color: #253042;
  border-radius: 3px;
  margin-left: 0px;
  width: 18%;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content:center;
}
.single-product {
  padding: 10px;
  padding-top: 30px;
  margin: 10px;
  transition: 0.6s;
  border-radius: 3px;
  height: 450px;
}
.single-product:hover {
  box-shadow: 4px 4px 7px #121213;
  border-radius: 10px;
  /* border: 1px solid #253042; */
}
.product-image {
  width: 150px;
  height: 150px;
}
.cardbg {
  background-color: #ffffff;
}

.cart {
  width: 350px;
  /* border: 2px solid #ba9066; */
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(36, 35, 35);
  border-radius: 3px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

div h1{
  color: #ba9066;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

